

UL {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}




.td_f A IMG {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

.num {
	POSITION: absolute;
	WIDTH: 90px;
	FLOAT: right;
	TOP: 280px;
	LEFT: 550px
}

.num LI {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 15px;
	LIST-STYLE-TYPE: none;
	MARGIN: 1px;
	WIDTH: 15px;
	FONT-FAMILY: Arial;
	BACKGROUND: url(../images/templatemo_ads.jpg) no-repeat -15px 0px;
	FLOAT: left;
	HEIGHT: 15px;
	COLOR: #86a2b8;
	FONT-SIZE: 12px;
	CURSOR: pointer
}

.num LI.on {
	LINE-HEIGHT: 15px;
	WIDTH: 15px;
	BACKGROUND: url(../images/templatemo_ads.jpg)no-repeat;
	HEIGHT: 15px;
	COLOR: #ffffff
}

.more {
	FLOAT: right
}

.more1 A {
	TEXT-ALIGN: left;
	LINE-HEIGHT: 25px;
	MARGIN: 0px 0px 0px 10px;
	COLOR: #3373a3
}