/* * {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
 */
a,img {
	border: 0;
}

/* select */
.select {
	padding: 5px 10px;
	border: #ddd 1px solid;
	border-radius: 4px;
	width: 80%;
	/* margin: 5% 0 0 5%; */
	margin-left: 10.5%;
	font-size: 12px
}

.select li {
	list-style: none;
	padding: 10px 0 5px 100px
}

.select .select-list {
	border-bottom: #eee 1px dashed
}

.select dl {
	zoom: 1;
	position: relative;
	line-height: 24px;
}

.select dl:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden
}

.select dt {
	width: 100px;
	margin-bottom: 5px;
	position: absolute;
	top: 0;
	left: -100px;
	text-align: right;
	color: #666;
	height: 24px;
	line-height: 24px
}

.select dd {
	float: left;
	display: inline;
	margin: 0 0 5px 5px;
}

.select a {
	display: inline-block;
	white-space: nowrap;
	height: 24px;
	padding: 3px 10px;
	text-decoration: none;
	color: #039;
	border-radius: 2px;
}

.select a:hover {
	color: lightred;
	background-color: #f3edc2
}

.select .selected a {
	color: #fff;
	background-color: lightseagreen;
}

.select-result dt {
	font-weight: bold
}

.select-no {
	color: #999
}

.select .select-result a {
	padding-right: 20px;
	background: lightseagreen url("close1.gif") right 9px no-repeat
}

.select .select-result a:hover {
	background-position: right -15px
}

.goodimg img {
	border: 1px solid ligthgrey;
	height: 160px;
	width: 200px;
}

.col-md-3.goodlist {
	
}

/* .col-md-3.goodlist:hover {
	border: 1px solid yellow;
} */
.container.good {
	margin-top: 10px;
}

.goodname {
	text-align: center;
}

.selectByuser a {
	color: white;
}

.selectByuser a :HOVER {
	color: red;
	background-color: blue
}

