body {
	margin: auto;
	background-color: #F8F8FF;
}

a:hover {
	text-decoration: none;
}

.navbar-brand {
	background-image: url(../images/logo.png);
	width: 165px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.side-bar .list-group-item {
	border: 0px;
	margin-bottom: 5px;
}

.side-bar .list-group-item .active {
	background-color: #0000FF;
}

img,.side-bar .list-group-item,.side-bar-card {
	border-radius: 5px;
}

/*
 * 调节新闻板块的css
 */
.col-xs-4 img {
	display: block;
	border-radius: 5px;
	/*	border-radius: 3px;*/
	max-width: 50%;
}

.col-md-2 img {
	display: block;
	border-radius: 5px;
	/*	border-radius: 3px;*/
	max-width: 100%;
}
/*
 * 调节热点新闻css
 */
.col-md-4,.col-xs-5 img {
	display: block;
	border-radius: 5px;
	max-width: 100%;
}

.news-list-item {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.news-list-item:first-child {
	padding-top: 0px;
}

.news-list-item .title {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	background-color: white;
	margin-bottom: 30px;
	line-height: 1;
}

.news-list-item .title:hover {
	color: #337AB7;
}

.news-list-item .info {
	color: #888;
}

.avatar {
	display: inline-block;
}

.avatar img {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.side-bar-card {
	background-color: #C7DDEF;
	margin-top: 15px;
	padding: 20px 0;
}

.side-bar-card.flag {
	padding-top: 20px;
	padding-bottom: 20px;
}

.side-bar-card .text-lg {
	font-size: 150%;
}

.side-bar-card .card-title,.side-bar-card .card-body .list .item {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}

.side-bar-card .card-body .list .item:hover {
	background: rgba(0, 0, 0, .05);
}

.side-bar-card .card-title {
	font-size: 18px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
}

.card-body .list .item .title {
	/* border: 1px solid lightgrey; */
	font-size: 17px;
	padding-bottom: 5px;
}

.card-body .list .item .desc {
	border: 1px solid grey;
	padding-bottom: 5px;
}

.news-title {
	line-height: 1.5;
}

.news-status {
	color: #999;
}

.news-status .label {
	opacity: 0.8;
}

.news-content {
	margin-top: 20px;
	font-size: 15px;
	line-height: 1.5;
}

.news-content img {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 400px;
	height: 300px;
}

.on-padding-h {
	padding-left: 0px;
	padding-right: 0px;
}

.footer {
	margin-top: 20px;
	padding: 50px 0;
	text-align: center;
	color: #999;
}

.footer img {
	opacity: 0.01;
}

.buy {
	margin-top: 10px;
	margin-left: 230px;
	margin-bottom: 20px;
}

/*.item {
	margin-bottom:10px;
}
*/

/**
 * 关于日历
 */
Input {
	font-family: verdana;
	font-size: 9pt;
	text-decoration: none;
	background-color: #FFFFFF;
	height: 20px;
	border: 1px solid #666666;
	color: #000000;
}

.btn-group img {
	width: 30px;
	height: 30px;
	border-radius: 500px;
}